.landing {
    display: flex;
    min-height: 100%;
}

.landing .left, 
.landing .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* minus - 60px because of 60px on nav.css */
    min-height: calc(100vh - 60px);
    
}

.landing .logo {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(closest-side, rgb(4, 78, 4), rgb(125, 216, 113));
    font-size: 10rem;
}

.landing .logo div {
    position: relative;
    bottom: 10px;
}

.landing .inputs-container {
    display: flex;
    flex-direction: column;
    height: 200px;
    border: 2px black solid;
    width: 60%;
    border-radius: 7px;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.landing input {
    font-size: .9rem;
}
